@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");
@import "tailwindcss";

@theme {
  --font-inter: "Inter", sans-serif;
  --color-brand-blue-light: #007aff;
  --color-brand-blue: #007aff;
  --color-brand-blue-dark: #004fe0;
}

.app-container {
  max-width: 1200px;
  width: 100%;
  margin: 2rem auto;
  padding: 0 1rem;
}

:root {
  --primary-color: #111827;
  --text-color: #333;
  --background-color: #f4f4f4;
  --card-background: #fff;
  --high-priority-color: #e53e3e;
  --border-radius: 0.5rem;
  --transition-speed: 0.2s;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}
